<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappcl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/22d70912-3cee-4cb6-aee9-a83a3100c8cc/resourceGroups/ServerlessArchitecture/providers/Microsoft.Web/sites/TollBoothFunctionAppCl</ResourceId>
    <UserName>$TollBoothFunctionAppCl</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionappcl.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>